{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block page_content %}
  <br>
  <div class="ui container">
    {% if account_name %}
    <h1>Simulate Trading for {{ account_name }}</h1>
    <table class="ui green celled striped table">
      <thead>
        <tr><th colspan="3" class="ui inverted">
          <strong>Trading Details</strong>
        </th>
      </tr></thead>
      <tbody>
        <tr>
          <td class="collapsing">
            Account Name
          </td>
          <td>{{ account_name|title }}
          </td>
        </tr>
        <tr>
          <td>
            Balance
          </td>
          <td>${{ user_datas.balance }}</td>
        </tr>
        <tr>
          <td>
            Total Trades
          </td>
          <td>{{ user_datas.trades }}</td>
        </tr>
        <tr>
          <td>
           {% if user_datas.profit >= 0 %}Profit{% else %}Loss{% endif %}
          </td>
          {% if user_datas.profit >= 0 %}
          <td style="color: green;">${{ user_datas.profit }}</td>
          {% else %}
          <td style="color: red;">${{ user_datas.profit }}</td>
          {% endif %}
        </tr>
      </tbody>
    </table>
    <form id="simulation-form" method="POST" action="{% url 'simulate_trading' trader_name=account_name %}">
        {% csrf_token %}
        <input type="hidden" name="user_trader_name" value="{{ account_name }}">
        <div class="ui buttons">
          <button type="submit" class="ui positive button" name="action" value="start">Start Trading</button>
          <div class="or"></div>
          <button class="ui negative button" type="submit" name="action" value="stop">Stop Trading</button>
        </div>
    </form>

    <div id="profit-loss-graph"></div>
    <script>
      // Get the profit/loss data from view
      var data = {{ graph|safe }};
    
      // Extract timestamps and balances from the data dictionary
      var timestamps = data.timestamps;
      var balances = data.balances;
      
      // Create the Plotly graph
      var data = [{
          x: timestamps,
          y: balances,
          type: 'scatter',
          mode: 'lines',
          name: 'Profit/Loss',
      }];
    
      var layout = {
          title: 'Profit/Loss vs. Time',
          xaxis: {
              title: 'Timestamp',
          },
          yaxis: {
              title: 'Balance',
          },
        };
    
        Plotly.newPlot('profit-loss-graph', data, layout);
    </script>
    
    {% else %}
    <div class="ui blue attached message centered segment">
      <div class="header">
        Welcome, you are one of our lucky Trader
      </div>
      <p>Fill out the form below to start trading</p>
    </div>
    <form class="ui form attached fluid centered segment" method="post" action="{% url 'dashboard' %}">
      {% csrf_token %}
      <div class="field">
        <label for="username">Enter your Account Name</label>
        <input placeholder="e.g Trader_username_76f4" type="text" name="account_name" required>
      </div>
      <div class="inline field">
        <div class="ui checkbox">
          <input type="checkbox" id="terms" name="agree_terms">
          <label for="terms">I agree to the terms and conditions</label>
        </div>
      </div>
      <input type="submit" class="ui blue submit button">
    </form>
    
    
  </div>
  {% endif %}
  
</div><br>
{% endblock %}